#btn_entrar {
    padding-bottom: 20px;
}

nav a {
    color: #26c6da;
}

.brand-logo{
    margin: 5px;
    margin-top: 7px;
}

.usuario_header{
    margin-right: 3px;
}

.img_header{
    height: 40px !important;
    margin: auto;
    margin-left: 5px;
}

.logo{
    margin: 7px 7px 7px 12px;
}

.btn {
    background-color: #26c6da;
}

.pad{
    padding-top: 25px;
}
