#btn_entrar {
    padding-bottom: 20px;
}

nav {
    height: 75px;
}

nav a {
    color: #26c6da;
}

.brand-logo{
    margin: 5px;
    margin-top: 7px;
}

.usuario_header{
    margin-right: 3px;
}

.img_header{
    height: 40px !important;
    margin: auto;
}

.logo{
    margin: 14px 7px 7px 12px;
}

.btn {
    background-color: #26c6da;
}




/*----TITOL PÀGINA----*/

.titolMovies {
    display:block;
    margin:auto;
    display: inline-block;
    margin-top: 7px;
    width: 220px;
}

/* Pantalla Petita */
@media only screen and (max-width: 600px) {
    .titolMovies {
        width: 190px; 
        margin-top: 12px; 
        margin-right: 50px;
    }
}