body {
    margin: auto;
    width: 95%;
    background-color: rgb(39, 39, 39);
    color: white;
}



/*-----------TEXT-----------*/

.black_font {
    color: black;
}

.white_font {
    color: white !important;
}


/*----------ALTRES----------*/

.centrar {
    text-align: center;
}

.margen-top {
    margin-top: 20px;
}

.margen-bottom {
    margin-bottom: 20px;
}

.centrar h3{
    margin: 0;
}

.row {
    margin: 20px 0 0 0;
}

.centrar h3{
    margin: 0;
}

.margin0px{
    margin: 0px;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}



/*------------FOOTER------------*/

.footer {
    justify-content: center !important;
}

.page-footer .l4 h5 {
    text-decoration: underline;
}

.page-footer {
    padding-top: 10px !important;
}



/*------------BOTONS------------*/

.btn {
    background-color: #24bdd1;
}

.btn:hover {
    background-color: #53dcee ;
}



/*--------- ICONES ----------*/

.prefix{
    color: #24bdd1 !important;
}



/*------SECCIÓ CERCA DE PELIS------*/

.divpelis {
    display: inline-block;
    margin-bottom: 100px;
}

#divsearch{
    display: flex;
    justify-content: center;
    align-items: center;
}

#divsearch input{
    width: 85%;
    margin-right: 10px;
}

.apartadoBusqueda {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image img {
    min-height: 20vh;
    height: auto;
    max-height: 60vh;
}

.card-content {
    font-size: 25px !important;
}

@media only screen and (max-width: 1000px) {
    .card-content {
        font-size: 20px !important;
    }
}

@media only screen and (max-width: 600px) {
    .card-content {
        font-size: 18px !important;
    }
}

.diverror {
    margin-top: 20px;
}

.error {
    padding: 10px;
    width: max-content;
    background-color: #f44336;
    color: white;
    font-weight: bold;
}



/*-------CAROUSEL PELIS-------*/ 

#apartadoCarrousel {
    border: 5px solid rgb(39, 39, 39);
    height: auto;
}

.carousel {
    margin-top: -50px;
    margin-bottom: 40px;
}

#carrousel-titol {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

#carrousel-titol h1{
    margin: 0;
}

.carousel .indicators {
    display: none !important;
}



/*----LES MEVES PEL·LÍCUELES----*/

.oculto {
    display: none !important;
}

#mispelis-titol {
    text-align: center;
}

#mispelis-titol {
    text-align: center;
}

.collapsible-header {
    display: flex;
    align-items: center;
    justify-content: start;
}

.collapsible-header p {
    margin-left: 10px;
    font-size: 18px;
}

.collapsible, .collapsible-header, .collapsible-body{
    background-color: rgb(39, 39, 39) !important;
    color: white !important;
}

.coll{
    border: white 1px solid !important;
}

#apartadoMisPeliculas h3{
    margin: 20px;
}



/*----------JOC---------*/ 

#apartadoJuego {
    height: auto;
    border: solid rgb(39, 39, 39) 5px;
}

.btn-joc {
    margin: 20px;
    font-size: 36px;
}

.joc-carousel {
    height: 57vh !important;
    margin-top: 0;
    margin-bottom: 0;
}

.joc-modal {
    height: auto !important;
    overflow: hidden;
    padding: 7px 0px 0px 0px !important;
    background-color: rgb(39, 39, 39);
    border-radius: 2%;
}

#acabarJoc {
    margin-top: 10px;
}

.img_joc {
    margin-top: 20px !important;
}

.titol_peli_joc{
    margin: 4% !important; 
    margin-top: 10% !important;
}

.form-joc {
    margin-top: 10%; 
    margin-left: 20px;
}

.resposta-joc {
    font-size: 23px !important;
}

.gifJoc {
    width: 450px;
    margin-bottom: 20px !important;
    margin-top: 40px !important;
}

/* Pantalla Gran */
@media only screen and (max-width: 1000px) {
    .img_joc {
        width: 100% !important;   
    }

    #juego, #ranking {
        height: auto !important;
    }
}

/* Pantalla Petita */
@media only screen and (max-width: 600px) {
    .img_joc {
        width: 50%  !important;
        margin: 5% 5% 5% 5% !important;
    }

    .titol_peli_joc{
        margin: 4%; 
        margin-top: 0 !important;
    }

    .form-joc {
        margin-top: 3%; 
        margin-left: 20px;
    }

    .resposta-joc {
        font-size: 16px !important;
    }

    .gifJoc {
        width: 450px;
        margin-bottom: 6%;
        margin-top: 4%;
    }
}

.resultat-joc {
    margin-top: 14px;
    color: white;
    height: 100%;
}

.icon-resultat {
    margin-right: 4px;
}

.puntuacioJoc {
    background-color: #24bdd1;
    width: fit-content;
    padding: 5px;
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



/*------RANKING JOC------*/

.divranking {
    background-color: lightslategrey;
    margin: 10px;
    border-radius: 5px;
}

#ranking, #juego {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(39, 39, 39);
}

#ranking {
    background-color: #311b922d;
    padding: 20px;
    max-height: 35vh;
    height: 35vh;
}

#ranking h4{
    margin: 10px;
}

#juego {
    background-color: #311b922d;
    height: 35vh;
    max-height: 35vh;
}

/* Links info usuaris*/
.usuarisModals{
    color: black;
}

.imgModalUsuari{
    max-height: 25vw;
    height: auto;
}



/*-----HEADER DADES USUARI LOGGEJAT-----*/

.foto-usu{
    margin-top: 20px;
    max-height: 200px;
}

.navbar{
    height: auto;
    max-height: 64px;
}

nav{
    height: 64px !important;
    line-height: 64px !important;
}
