body {
    margin: auto;
    width: 95%;
    background-color: rgb(39, 39, 39);
    color: white;
}

.row {
    margin: 20px 0 0 0;
}



/*-----------TEXT-----------*/

.black_font {
    color: black;
}

.white_font {
    color: white !important;
}

.centrar {
    text-align: center;
}

.margen-top {
    margin-top: 20px;
}

.margen-bottom {
    margin-bottom: 20px;
}



/*------------FOOTER------------*/

.footer {
    justify-content: center !important;
}

.page-footer .l4 h5 {
    text-decoration: underline;
}

.page-footer {
    padding-top: 10px !important;
}



/*------------BOTONS------------*/

.btn {
    background-color: #24bdd1;
}

.btn:hover {
    background-color: #53dcee ;
}



/*------SECCIÓ CERCA DE PELIS------*/

.divpelis {
    display: inline-block;
    margin-bottom: 100px;
}

.apartadoBusqueda {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image img {
    min-height: 20vh;
    height: auto;
    max-height: 60vh;
}

.card-content {
    font-size: 25px !important;
}

@media only screen and (max-width: 1000px) {
    .card-content {
        font-size: 20px !important;
    }
}

@media only screen and (max-width: 600px) {
    .card-content {
        font-size: 18px !important;
    }
}

.diverror {
    margin-top: 20px;
}

.error {
    padding: 10px;
    width: max-content;
    background-color: #f44336;
    color: white;
    font-weight: bold;
}



/*-------CAROUSEL PELIS-------*/ 

#apartadoCarrousel {
    border: 1px solid black;
    height: auto;
}

.carousel {
    margin-top: -50px;
    margin-bottom: 40px;
}

#carrousel-titol {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}



/*----LES MEVES PEL·LÍCUELES----*/

#apartadoMisPeliculas{
    border: 2px solid black;
}

.oculto {
    display: none !important;
}

#mispelis-titol {
    text-align: center;
}



/*----------JOC---------*/ 

#apartadoJuego {
    height: auto;
    border: solid black 2px;
}

.btn-joc {
    margin: 20px;
    font-size: 36px;
}

.joc-carousel {
    height: 57vh !important;
    margin-top: 0;
    margin-bottom: 0;
}

.joc-modal {
    height: auto !important;
    overflow: hidden;
    padding: 7px 0px 0px 0px !important;
    background-color: rgb(39, 39, 39);
    border-radius: 2%;
}

#acabarJoc {
    margin-top: 10px;
}

.img_joc {
    margin-top: 20px !important;
}

.titol_peli_joc{
    margin: 4% !important; 
    margin-top: 10% !important;
}

.form-joc {
    margin-top: 10%; 
    margin-left: 20px;
}

.resposta-joc {
    font-size: 23px !important;
}

/* Pantalla Gran */
@media only screen and (max-width: 1000px) {
    .img_joc {
        width: 100% !important;   
    }
}

/* Pantalla Petita */
@media only screen and (max-width: 600px) {
    .img_joc {
        width: 50%  !important;
        margin: 5% 5% 5% 5% !important;
    }

    .titol_peli_joc{
        margin: 4%; 
        margin-top: 0 !important;
    }

    .form-joc {
        margin-top: 3%; 
        margin-left: 20px;
    }

    .resposta-joc {
        font-size: 16px !important;
    }
}

.resultat-joc {
    margin-top: 14px;
}

.icon-resultat {
    margin-right: 4px;
}

.puntuacioJoc {
    background-color: #24bdd1;
    width: fit-content;
    padding: 5px;
}


/*------RANKING JOC------*/

.divranking {
    background-color: lightslategrey;
    margin: 10px;
    border-radius: 5px;
}

#ranking, #juego {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 25vh;
}

#ranking-usuaris {
    text-align: center;
}





#mispelis-titol {
    text-align: center;
}

.collapsible-header {
    display: flex;
    align-items: center;
    justify-content: start;
}

.collapsible-header p {
    margin-left: 10px;
    font-size: 18px;
}

.collapsible, .collapsible-header, .collapsible-body{
    background-color: rgb(39, 39, 39) !important;
    color: white !important;
}

.coll{
    border: white 1px solid !important;
}



.resposta-joc {
    /*font-size: 23px !important;*/

}

.opcions-joc {
    /*margin-bottom: 1px;*/
}

.form-joc {
    /*font-size: 20% !important;*/
}

.centrar h3{
    margin: 0;
}
